*{
  box-sizing: border-box;
}

.house{
  height: 100vh;
  width : 100vw;
  display: flex;
  flex-flow : column wrap;
  justify-content:center;
  align-items: center;
}

.houseImage{
  max-height:250px; max-width : 250px;
}

button{
  height : 50px;
  width : 120px;
  border-radius:5px;
  font-size:35px;
  position:absolute; 
  top:10%;
  
}

button:hover{
  box-shadow: 5px 5px rgba(0,0,0,0.25;)
}

.house__content{
  display: flex;
  flex-flow:column wrap;
  justify-content:center;
  align-content: center;
}